@import "../mixin.scss";
#musicPlayingInterface{  
    .top_title{
        width: 100%;
        height: px2rem(55px);
        // background: #fcc;
        position: fixed;
        top: px2rem(0px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        span{
            padding: px2rem(7px) px2rem(7px);
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

        }
    }
    .musicPlaying_lyrics{
       margin-top:px2rem(55px);
       overflow: hidden;
       background: #fcc;
       .img_warp{
           height: px2rem(400px);
           padding-top: px2rem(96px);
           img{
               width: px2rem(200px);
               height: px2rem(200px);
               border-radius: 50%;
               
           }
       }
       ul{ 
          height: px2rem(50px); 
          background-color: antiquewhite;
          display: flex;
          justify-content: space-around;
          align-items: center;
       }
       .lyrics_panel{
           height: px2rem(550px);
           color: red;
           overflow: hidden;
           .kkkk{
                height: px2rem(525px);
                width: 105%;             
                overflow: scroll;
                padding-bottom: px2rem(25px);
           }
       }
    
    }
    .audio_player_warp{
        width: 100%;
        position: fixed;
        bottom: px2rem(0px);
        // background: #fcc;
        padding-top: px2rem(4px);
        height: px2rem(62px);
    }
}