@import "../mixin.scss";
#SongListSquare{
    overflow: hidden;
    .top_tab{
        width: 100%;
        height: px2rem(55px);
        position: fixed;
        background: #fff;
        .top_title{
            display: flex;
            justify-content: start;
            align-items: center;
            h3{
                height: px2rem(25px);         
            }
        }     
        ul{
            color: red;
            height: px2rem(30px);
            display: flex;
            justify-content: space-around;          
        }
    }
    .loading{
        margin-top: px2rem(70px);
    }
    .song_list_show{      
        margin-top: px2rem(55px);
        padding: px2rem(8px) px2rem(0px) px2rem(50px);
        // background: #fcc;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        div{
            width: px2rem(100px);
            margin-bottom: px2rem(5px);
            p{
                height: px2rem(38px);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }   
    }
}