@import './mixin.scss';

/*----------------------------账号头部-------------------------------*/
*{
    text-align: center;
}
.icon-fanhui{
    margin-left: px2rem(15px);
}
.account-header{
    .icon-saoyisao{
        margin-left:px2rem(15px);
    }
    .icon-jiezou{
        margin-right:px2rem(15px);
    }
    width: 100%;
    height: px2rem(58px);
    background: #d73d33;
    color: #fff;
    font-size: px2rem(16px);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*----------------------------账号登录按钮附近-------------------------------*/
.userPhoto{
    width: px2rem(55px);
    height: px2rem(55px);
    border-radius: 50%;
    position: absolute;
    top:px2rem(67px);
    left:px2rem(15px);
}
.myName{
    position: absolute;
    top:px2rem(75px);
    left:px2rem(80px);
}
.myLv{
    position: absolute;
    top:px2rem(100px);
    left:px2rem(80px);
    width: px2rem(40px);
    height: px2ren(18px);
    background: #ebe4dc;
    border-radius: px2rem(15px);
}
.signin{
    position: absolute;
    top:px2rem(74px);
    left:px2rem(300px);
    width: px2rem(60px);
    height: px2ren(25px);
    background: #e34836;
    border-radius: px2rem(15px);
    color: #fff;
}
.myInfromation{
    width: 100%;
    height: px2rem(110px);
}
.huashuoNav{
    position: absolute;
    top: px2rem(140px);
    display: flex;
    div{
        width: px2rem(90px);
    }
}
.account-button{
    p{
        line-height: px2rem(25px);
    }
    input{
        width: px2rem(358px);
        height:px2rem(35px);
        border: px2rem(1px) solid #dfdfdf;
        border-radius: px2rem(20px);
        background: #fff;
    }
}
/*------------------------------更改密码---------------------------------*/
.newPassWord{
    width: px2rem(180px);
    height: px2rem(25px);
    border: px2rem(1px) solid #ccc;
    outline: none;
    margin-top: px2rem(20px);
}
.getNum{
    width: px2rem(150px);
    height: px2rem(25px);
    border: px2rem(1px) solid #ccc;
    outline: none;
    margin-top: px2rem(20px);
}
.getNumBtn{
    background: #c00;
    color: #fff;
    border: none;
    width: px2rem(80px);
    height: px2rem(25px);
}
.newRegister{
    background: red;
    color: #fff;
    border: none;
    width: px2rem(250px);
    height: px2rem(40px);
    margin-top: px2rem(30px);
}
/*------------------------------关注列表---------------------------------*/
.attentionList{
    .signature{
        display: block;
        width: px2rem(270px);
        position: absolute;
        top: px2rem(35px);
        left: px2rem(70px);
        font-size: px2rem(12px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap;
        color: #949494;
    }
    .attentionName{
        position: absolute;
        top: px2rem(15px);
        left: px2rem(70px);
        font-size: px2rem(14px);
    }
    .attentionImg{
        width: px2rem(46px);
        height: px2rem(46px);
        border-radius: 50%;
        position: absolute;
        top: px2rem(10px);
        left: px2rem(15px);
    }
    position: relative;
    width: 100%;
    height: px2rem(65px);
}
/*----------------------------关注列表-------------------------------*/
.fansName{
    font-size: px2rem(14px);
    line-height: px2rem(65px);
    margin-right: px2rem(80px);
}
/*----------------------------状态列表-------------------------------*/
.stateList{
    position: relative;
    width: 100%;
    height: px2rem(350px);
    border-bottom: px2rem(1px) solid #ccc;
    .statePhoto{
        position: absolute;
        top:px2rem(18px);
        left:px2rem(14px);
        width: px2rem(40px);
        height: px2rem(40px);
        border-radius: 50%;
    }
    .stateNickname{
        position: absolute;
        top:px2rem(23px);
        left:px2rem(60px);
        font-size: px2rem(12px);
        color: #7e96a8;
    }
    .stateSong{
        position: absolute;
        top:px2rem(23px);
        left:px2rem(125px);
        font-size: px2rem(12px);
        color: #949494  ;
    }
    .stateTime{
        position: absolute;
        top:px2rem(40px);
        left:px2rem(60px);
        font-size: px2rem(10px);
        color: #cfcfcf  ;
    }
    .stateContext{
        position: absolute;
        top:px2rem(67px);
        left:px2rem(60px);
        font-size: px2rem(14px);
    }
    .stateGe{
        position: absolute;
        top:px2rem(267px);
        left:px2rem(70px);
        font-size: px2rem(16px);
    }
    .statePicture{
        width: px2rem(205px);
        height: px2rem(155px);
        position: absolute;
        top:px2rem(90px);
        left:px2rem(60px);
    }
}
/*----------------------------点击头像-------------------------------*/
.photoBackgroud{
    .photoBackgroud-photo{
        width: px2rem(75px);
        height: px2rem(75px);
        border-radius: 50%;
        position: absolute;
        top: px2rem(20px);
        left: px2rem(18px);
    }
    .photoBackgroud-name{
        position: absolute;
        top: px2rem(110px);
        left: px2rem(20px);
        font-size: px2rem(16px);
        color: #fff;
    }
    .photoBackgroud-follows{
        position: absolute;
        top: px2rem(140px);
        left: px2rem(20px);
        font-size: px2rem(12px);
        color: #e6e5e3;
    }
   
    .photoBackgroud-followeds{
        position: absolute;
        top: px2rem(140px);
        left: px2rem(72px);
        font-size: px2rem(12px);
        color: #e6e5e3;
    }
    .photoBackgroud-bianji{
        width: px2rem(70px);
        height: px2rem(30px);
        position: absolute;
        top: px2rem(45px);
        right: px2rem(15px);
        font-size: px2rem(12px);
        color: #000;
        background: #fff;
        opacity: 0.8;
        line-height: px2rem(30px);
        border-radius: px2rem(8px);
    }
    .photoBackgroud-vip{
        width: px2rem(36px);
        height: px2rem(16px);
        position: absolute;
        top: px2rem(165px);
        left: px2rem(20px);
        font-size: px2rem(10px);
        color: #000;
        background: #fff;
        opacity: 0.8;
        line-height: px2rem(16px);
        border-radius: px2rem(15px);
    }
    .photoBackgroud-place{
        width: px2rem(36px);
        height: px2rem(16px);
        position: absolute;
        top: px2rem(165px);
        left: px2rem(60px);
        font-size: px2rem(10px);
        color: #000;
        background: #fff;
        opacity: 0.7;
        line-height: px2rem(16px);
        border-radius: px2rem(15px);
    }
    width: 100%;
    height: px2rem(250px);
    position: relative;
}
.photoNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: px2rem(375px);
    height: px2rem(50px);
    font-size: px2rem(14px);
    
    p{
        width: px2rem(124px)
    }
}
.photoBackgroud-box{
    border-radius: px2rem(20px);
    width: 100%;
    background: #fff;
    position: absolute;
    top:px2rem(270px);

}
.photo-margintop{
    margin-top: px2rem(30px);
}
.dataImg{
    width: px2rem(375px);
}
.photoBackgroud-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: px2rem(58px);
    background: rgba(255, 255, 255, 0);
    margin-top: px2rem(-300px);
    color: #fff;
}
.photoBackgroug-background{
    width: px2rem(375px);
    height: px2rem(300px);
}
/*----------------------------VIP-------------------------------*/
.account-vip{
    width: px2rem(358px);
    height:px2rem(56px);
    border: px2rem(1px) solid #dfdfdf;
    border-radius: px2rem(5px);
    background: #272727;
    margin-top:px2rem(25px);
    margin-left: px2rem(9px);
    position: relative;
    .vip{
        color: #f8dcda;
        font-size: px2rem(12px);
        font-weight: 900;
        position: absolute;
        top: px2rem(14px);
        left:px2rem(14px);
    }
    .newfive{
        color: #727272;
        font-size: px2rem(10px);
        position: absolute;
        top: px2rem(34px);
        left:px2rem(14px);
    }
    .forfree{
        color: #b4b4b4;
        font-size: px2rem(12px);
        position: absolute;
        top: px2rem(22px);
        right:px2rem(52px);
    }
    .icon-huo-div{
        .icon-huo{
            line-height: px2rem(30px);
            font-size: px2rem(20px);
            color: red;
        }
        width: px2rem(30px);
        height: px2rem(30px);
        border-radius: 50%;
        position: absolute;
        top: px2rem(12px);
        right:px2rem(15px);
        background: #ffd76e;

    }
}
/*------------------------------消息、商城、演出、个性换肤 -----------------------------*/
.account-nav{
    display: flex;
    justify-content: space-between;
    padding: px2rem(0px) px2rem(34px);
    margin-top: px2rem(17px);
    div{
        p{
            color: red;
            font-size: px2rem(24px);
        }
        NavLink{
            color: #434343;
        }

    }
}
/*----------------------------我的消息---------------------------*/
.myInformation{
    width: px2rem(345px);
    height: px2rem(25px);
    border: px2rem(1px) solid #d73d33;
    border-radius: px2rem(12px);
    margin: px2rem(15px) px2rem(0px) px2rem(0px) px2rem(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .everyone{
        display: inline-block;
        width: px2rem(87px);
        height: px2rem(28px);
        border-radius: px2rem(12px);
        font-size: px2rem(14px);
        color: #fff;
        line-height: px2rem(28px);
    }
    
}

/*------------------------------列表 -----------------------------*/
.account-list{
    .account-list-dingdan{
        .icon-icon--,.icon-dingdan,.icon-shezhi,.icon-yejianmoshi,.icon-timer,
        .icon-icon-test,.icon-icon,.icon-youhuiquan,
        .icon-maikefeng,.icon-fenxiang,.icon-about{
            width: px2rem(44px);
            height: px2rem(44px);
            font-size: px2rem(18px);
            line-height: px2rem(44px);
        }
        .account-list-right{
            width: px2rem(331px);
            line-height: px2rem(44px);
            border-bottom:px2rem(1px) solid #f8f8f8;
            .account-list-right-left{
                float: left;
            }
            .account-list-right-right{
                float: right;
                margin-right: px2rem(15px);
            }
        }
        width: 100%;
        height: px2rem(44px);
        display: flex;
        margin-top: px2rem(10px);
    }
}
.account-list-dingdan .account-list-exit{
    width: 100%;
    height: px2rem(44px);
    outline: none;
    background: #fff;
    font-size: px2rem(16px);
    color: red;
    border:none;
}
.account-list-exit{
    margin-bottom: px2rem(50px);
}
/*------------------------登录----------------------------------------*/
.account-login{
    background: #db3630;
    width: 100%;
    height: px2rem(667px);
    position: relative;
    .login-back{
        font-size: px2rem(18px);
        color: #fff;
        position: absolute;
        left: px2rem(18px);
        top: px2rem(30px);
    }
    .login-logo{
        position: absolute;
        left: px2rem(150px);
        top: px2rem(156px);
        width: px2rem(75px);
        height: px2rem(75px);
        border-radius: 50%;
        font-size: px2rem(45px);
        color: #fff;
        font-weight: 900;
        background: #f13b30;
        line-height: px2rem(75px);
    }
    .login-button{
        width: px2rem(280px);
        height: px2rem(42px);
        background: #fff;
        position: absolute;
        bottom:px2rem(122px);
        left: px2rem(48px);
        border: none;
        border-radius: px2rem(20px);
        color: #f13b30;
    }
    div{
        .login-weixin{
            width: px2rem(36px);
            height: px2rem(36px);
            position: absolute;
            bottom:px2rem(40px);
            left: px2rem(53px);
            border: px2rem(1px) solid #fff;
            border-radius: 50%;
            line-height: px2rem(36px);
            color: #fff;
            font-weight: 900;
            font-size: px2rem(20px);
        }
        .login-qq{
            width: px2rem(36px);
            height: px2rem(36px);
            position: absolute;
            bottom:px2rem(40px);
            left: px2rem(130px);
            border: px2rem(1px) solid #fff;
            border-radius: 50%;
            line-height: px2rem(36px);
            color: #fff;
            font-weight: 900;
            font-size: px2rem(20px);
        }
        .login-weibo{
            width: px2rem(36px);
            height: px2rem(36px);
            position: absolute;
            bottom:px2rem(40px);
            left: px2rem(208px);
            border: px2rem(1px) solid #fff;
            border-radius: 50%;
            line-height: px2rem(36px);
            color: #fff;
            font-weight: 900;
            font-size: px2rem(20px);
        }
        .login-wangyi{
            width: px2rem(36px);
            height: px2rem(36px);
            position: absolute;
            bottom:px2rem(40px);
            left: px2rem(285px);
            border: px2rem(1px) solid #fff;
            border-radius: 50%;
            line-height: px2rem(36px);
            color: #fff;
            font-weight: 900;
            font-size: px2rem(20px);
        }

    }
    .login-agreement{
        font-size: px2rem(10px);
        color: #fff;
        position: absolute;
        bottom:px2rem(8px);
        left: px2rem(112px);
    }
}

/*----------------------手机号登录------------------------------*/
.login-back{
    margin-left: px2rem(15px);
}
.phone-login-words{
    position: absolute;
    left:px2rem(12px);
    top:px2rem(110px);
    color: #a0a0a0;
}
.phone-number{
    position: absolute;
    left:px2rem(12px);
    top:px2rem(167px);
    width: px2rem(348px);
    height:px2rem(30px);
    border-bottom: px2rem(2px) solid #f4f4f4;
    span{
        position: absolute;
        left:px2rem(0px);
        font-weight: 900;
        font-size: px2rem(16px);
    }
    input{
        border: none;
        position: absolute;
        left:px2rem(45px);
        top: px2rem(3px);
        outline: none;
        font-size: px2rem(16px);
    }
    
}
.phone-login-next{
    width: px2rem(346px);
    height: px2rem(40px);
    position: absolute;
    top: px2rem(230px);
    left: px2rem(15px);
    background: #f13b30;
    border-radius: px2rem(20px);
    border: none;
    outline: none;
}
.popBox{
    width: px2rem(150px);
    height: px2rem(70px);
    background: #000;
    opacity: 0.8;
    border-radius: px2rem(8px);
    position: absolute;
    top: px2rem(200px);
    left: px2rem(105px);
    color: #fff;
    line-height: px2rem(70px);
    display: none;
}
/*-------------------------重设密码------------------------------*/
.rePassword{
    position: absolute;
    top: px2rem(280px);
    left: px2rem(164px);
    font-size: px2rem(12px);
    color: #a0a0a0;
}
/*--------------------------------------------------------*/
.loveSong{
    position: absolute;
    top:px2rem(360px);
    left: px2rem(20px);
}
.loveName{
    position: absolute;
    top:px2rem(400px);
    left: px2rem(75px);
    font-size: px2rem(16px);
}
.loveImg{
    width: px2rem(50px);
    height: px2rem(50px);
    border-radius: px2rem(5px);
    position: absolute;
    top:px2rem(390px);
    left: px2rem(15px);
}
