@import './mixin.scss';
@import "./findList/songList.scss";
@import "./findList/MusicPlayingInterface.scss";
#find{
    //头部搜索
    .top_search{
        position: fixed;
        z-index: 10;
        top: px2rem(0px);
        display: flex;
        height: px2rem(45px);
        width: 100%;
        color: #fff;
        background: #da3f3b;
        justify-content: space-around;
        align-items: center;
        .icon-cloud{
            margin-left: px2rem(15px)
        };
        .icon-jiezou{
            margin-right: px2rem(15px)
        };
        .top_search_int{
            width: 70%;
            height: px2rem(30px);
            background: #CB564A;
            outline: none;
            border: 1px solid #CB564A;
            border-radius: 20PX;
            line-height: px2rem(30px);      
        };
    }
    // 轮播
    .wrapper{
        margin-top: px2rem(45px);
        width: px2rem(375px);
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        width: 100%;
                    }
                } 
            }
        }
    }
    // 推荐卡、导航
    .tab_card{
        height: px2rem(60px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        .tab_btn{
            font-size: px2rem(14px);       
            width: px2rem(75px); 
            .iconfont{
                font-size: px2rem(14px);  
                color: #da3f3b;
            }       
        }
    }
    .song_list,.new_pan{
        margin-bottom: px2rem(30px);
        ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                border: 1px solid red;
                width: px2rem(100px);
                height: px2rem(100px);
                margin-bottom: px2rem(40px);
                img{
                    width: 100%;
                }
            }
        }     
    }
}