@import './reset.css';
@import './mixin.scss';
@import './my.scss';
@import'./account.scss';
#root{
    font-size: px2rem(14px);
    .navWrap{
        height: px2rem(45px);width: 100%;
        background: #ecebe9;
        position: fixed;
        bottom: px2rem(0px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        .iconfont{
            height: px2rem(22px);
            width: px2rem(22px);
            border:1px solid #ecebe9;
            margin-left: px2rem(-2px);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
        }
        .nav{
            text-decoration: none;
            font-size: px2rem(7px);
            display: flex;
            align-items: center;
        }
    }
}
