@import './mixin.scss';

#my{ 
        .my_top{
        
        position: fixed;
        top: px2rem(0px);
        display: flex;
        height: px2rem(45px);
        width: 100%;
        color: #fff;
        background: #da3f3b;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        .icon-cloud{
            margin-left: px2rem(15px)
        }
        .icon-jiezou{
            margin-right: px2rem(15px)
        }
    }//****************未完成的轮播************************
    #my_tab{
        margin-top: px2rem(45px);
        height: px2rem(92px);
        border-bottom: px2rem(2px) solid #fbfbfb;
        .swiper-container{
            
            .swiper-wrapper{
                
                .swiper-slide{
                    .wrap{
                        margin-left: px2rem(8px);
                        margin-top: px2rem(15px);
                        display: flex;
                        height: px2rem(35px);
                        width: px2rem(35px);
                        border: 1px solid #da3f3b;
                        background: #da3f3b;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        .iconfont{
                            color: #fff;
                            display: block;
                            font-size: px2rem(24px);
                        }
                    }
                    .text{
                        text-align: center;
                        font-size: px2rem(13px);
                    }
                    padding: 0 px2rem(20px);
                    width: auto;
                    padding: px2rem(0px) px2rem(20px);
                    color:red;
                }
            }
        }
    }
    
    #my_midddleRouter{
        
        .my_midddleRouter{
            display: flex;
            justify-content: space-between;
        }
        .link{
            display: flex;
            color: #000;
            font-size: px2rem(16px);
            height: px2rem(45px);
            width: 84%;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e3e3e3;
            p{
                margin-right: px2rem(20px);
            }
            .icon-you{
                margin-right: px2rem(20px);
                font-size: px2rem(15px);
            }
        }
        .iconfont{
            display: flex;
            color: #000;
            font-size: px2rem(28px);
            height: px2rem(45px);
            width: 16%;
            justify-content: center;
            align-items: center;
        }//这里有个底边框还未清除
        
    }
    #myLoveMusic{
        height: px2rem(50px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        .left{
            margin-left: px2rem(15px)
        }
        .right{
            margin-right: px2rem(15px);
            .icon-gengduo{
                margin-left: px2rem(20px);
            }
        }
        
    }
    #mySongList{
        
        .listWrap{
            text-align: left;
            .heart{
                display: inline-block;
                margin-left: px2rem(15px);
                height: px2rem(45px);
                width: px2rem(45px);
                border-radius: px2rem(4px);
                background: #da3f3b;
                margin-right: px2rem(5px);
                .icon-xin{
                    display: inline-block;
                    margin-top: px2rem(4px);
                    color: #fff;
                    font-size: px2rem(35px);
                }
            }
            #love{
                display: inline-block;
                padding-top: px2rem(15px);
                .love{
                    display: inline-block;
                    text-align: left;
                    font-size: px2rem(14px);
                }
                #songNum{
                    text-align: left;
                    font-size: px2rem(10px);
                    .icon-wodeshoucang{
                        font-size: px2rem(10px);
                        color: #da3f3b;
                    }
                }
            }
        }
    }
    #recommend{
        p{text-align: left;}
        width: px2rem(350px);
        margin-top: px2rem(10px);
        margin-left: px2rem(15px);
        
        #heart{
            display: inline-block;
            height: px2rem(20px);
            width: px2rem(20px);
            border-radius: 50%;
            background: #da3f3b;
            margin-right: px2rem(7px);
            .icon-xin{
                display: inline-block;
                color:#fff;
                margin-left: px2rem(1px);
                font-size: px2rem(12px);
            }
        }
       #songList{
           margin-bottom: px2rem(70px);   
           margin-top: px2rem(10px);
           width: px2rem(350px);
           display: flex;
           justify-content: space-around;
           flex-wrap: wrap;
           .wrapLoop{
               margin-bottom: px2rem(8px);
               .pic{
                   height: px2rem(100px);
                   width: px2rem(100px);
                   margin-bottom: px2rem(5px);
                   .imges{
                       width: 100%;
                       height: 100%;
                       border-radius: px2rem(5px);
                   }
               }
               .text{
                   font-size: px2rem(12px);
                   width: px2rem(105px);
                   height: px2rem(30px);
                   display: -webkit-box;
                   -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
               }
           }
       }
    
    }
    #addSongList{
        height: 100%;
        background-color: rgba(90, 87, 87, 0.1);
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 2;
        .mask{
            height: 60%;
            background-color: rgba(90, 87, 87, 0.1);
        }
        .main{
            background: #000;
            height: 40%;
            width: 100%;
            background: #fff;
            border-radius: px2rem(20px) px2rem(20px) 0 0;
            .top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 px2rem(15px);
                padding-top: px2rem(10px);
                margin-bottom: px2rem(10px);
                .did{
                    color: #e5e5e5;
                }
            }
            input{
                background-color:#102c38;
                border-radius: px2rem(6px);
                height: px2rem(25px);
                outline: none;
                width: 92%;
                text-align: left;
                border: none;
            }
        }
    }
}
#songListDetail{
    .wrap{
        height: px2rem(325px);
    }
    overflow: hidden;
    .middle{
        position: absolute;
        top: px2rem(45px);
        .top{
            z-index: 100;
            width: 100%;
            height: px2rem(45px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            color: #000;
            background: #fdfdfd;
            .left{
                margin-left: px2rem(15px);
            }
            .iconfont{
                margin-right: px2rem(15px);
            }
        }
       .songListTitle{
           margin-top: px2rem(15px);
           width: px2rem(375px);
           input{
               outline: none;
                width: 80%;
               border: none;
               height: px2rem(30px);
               color: #fff;
               border-radius: px2rem(15px);
               background: rgba(211, 209, 209, 0.281);
           }
           .songListPic{
               position: relative;
               margin-top: px2rem(30px);
               margin-left: px2rem(20px);
               height: px2rem(125px);
               
               .songListBg{
                   float: left;
                   position: relative;
                   height: px2rem(125px);
                   width: px2rem(125px);
                   img{
                       height: 100%;
                       width: 100%;
                   }
                   .iconfont{
                       color: #fff;
                       position: absolute;
                       top: px2rem(5px);
                       right: px2rem(5px);
                       font-size: px2rem(12px);
                   }
               }
               //********************************
               //********************************
               //********************************
               //********************************
               .songListName{

                   margin-left: px2rem(35px);
                   text-align: left;
                   

                    color:#fff;
                    margin-bottom: px2rem(15px);
                    font-size: px2rem(15px);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                     -webkit-line-clamp: 1;
                     overflow: hidden;
                     
               }
               .authorHeadPicUrl{
                   display: inline-block;
                   position: absolute;
                   top: px2rem(35px);
                   left: px2rem(155px);
                   margin-right: px2rem(10px);
                   height: px2rem(30px);
                   width: px2rem(30px);
                   img{
                        border-radius: 50%;
                        height: 100%;
                        width: 100%;
                   }
               }
               .authorName{
                   display: block;
                   position: absolute;
                   top: px2rem(43px);
                   left: px2rem(195px);
                   float: left;
                    font-size: px2rem(13px);
                    color: #fff;
                   
               }
           }
       }
    }
    #playAll{
        height: px2rem(45px);
        width: 100%;
        background:#88aebe;
       .wrap{
           text-align: left;
           background: #fff;
           height: 100%;
           width: 100%;
           position: relative;
           border-radius: px2rem(20px) px2rem(20px) 0 0;
           .iconfont{
                display: inline-block;
                margin-left: px2rem(20px);
                margin-right: px2rem(5px);
                color: #000;
                font-size: px2rem(20px);
                font-weight: bold;
                margin-top: px2rem(10px);
           }
           .allNum{
                display: inline-block;
                font-weight: bold;
                position: absolute;
                z-index: 50;
                background: rgb(255, 255, 255);
                top: px2rem(11px);left: px2rem(50px);
                span{
                    display: inline-block;
                    font-size: px2rem(12px);
                    color: #ababab;
                }
           }
       }
    }
    .songList{
        z-index: -10;
        .loopSongList{
            height: px2rem(50px);
            width: 100%;
            position: relative;
            .order{
                display: inline-block;
                position: absolute;
                left: px2rem(15px);
                top: px2rem(13px);
                color: #999;
                font-size: px2rem(16px);
            }
            .songMsg{
                .songName{
                    position: absolute;
                    top: px2rem(5px);
                    left: px2rem(40px);
                    font-size: px2rem(14px);
                    width: px2rem(230px);
                    text-align: left;
                    color: #3c3c3c;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                     -webkit-line-clamp: 1;
                     overflow: hidden;
                }
                .songAuthorName{
                    position: absolute;
                    top: px2rem(27px);
                    left: px2rem(40px);
                    font-size: px2rem(12px);
                    color: #979797;
                }
            }
            .icon-zhongxinshipin{
                position: absolute;
                top: px2rem(13px);
                right: px2rem(50px);
                color: #979797;
                font-size: px2rem(24px);
            }
            .icon-gengduo{
                position: absolute;
                top: px2rem(15px);
                right: px2rem(18px);
                color: #979797;
                font-size: px2rem(20px);
            }
        }
    }

}